.header-container .header-text h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: rgba(17, 17, 17, 0.8);
}

.header-container .header-text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: rgba(17, 17, 17, 0.6);
}

.blog-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  padding: 0px 19px;
  border-radius: 7px;
  background-color: #1090d8;
  border: 1px solid #1090d8;
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(16, 144, 216, 0.1);
  border-radius: 8px;
  height: 130px;
}

.header-text {
  height: 50%;
}

.cards-container .text-decoration-underline {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  text-decoration-line: underline;
  color: rgba(17, 17, 17, 0.8);
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}
